<div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
  <div class="card-head">
    <div class="card-title">
			<h1>Editar notificação</h1>
		</div>
	</div>

	<div class="card-body">
		<%= render 'form', notificacao: @notificacao %>
	</div>
	
	<div class="shared">
		<%= link_to 'Voltar', notificacoes_path, class: "text-danger" %>
	</div>
</div>
