<div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
  <div class="card-head">
    <div class="card-title">
			<h1>New Lista Produtos</h1>
		</div>
	</div>

	<div class="card-body">
		<%= render 'form', lista_produtos: @lista_produtos %>
	</div>

	<div class="shared">
		<%= link_to 'Back', listas_produtos_path(solicitacao_id: params[:solicitacao_id]) %>
	</div>
</div>
