@import "sidebar.scss";
@import "produtos.scss";
@import "bootstrap";
@import 'font_awesome5';

* {
	text-decoration: none !important;
}

body {
	min-height: 100vh;
}

.card.bg-white.text-danger {
	.card-head {
		.card-title {
			h1 {
				text-shadow: 1px 1px 1px black;
			}
		}
	}
}

.text-danger {
	color: #b70000 !important;
}

.bg-lightgray {
	background-color: #dddddd;
}

.theme-dark {
	background-color: #dddddd;
}

i {
	height: 20px;
	width: 20px;
	text-align: center;
	vertical-align: middle;
}
